body {
  font-family: 'Magra', sans-serif;
  color: #000000;
  overflow-x: hidden;
  margin: 0;
}

html, body {
  background: transparent;
}

/***********HEADER***********/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 20px;
  background-color: #E3FFF2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap : 20px;
  height: 5dvh;
}

header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .logo img {
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: #7C9DDD;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

header.scrolled {
  background-color: #252D3F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled a {
  color: #E3FFF2;
}

/***********FOOTER***********/

footer {
  background-color: #252D3F;
  color: #E3FFF2;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100dvw;
  height: 5dvh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
}

footer a {
  margin-right: 64px;
  cursor: pointer;
  color: #E3FFF2;
}

/***********MAIN***********/

section {
  width: 100dvw;
  align-items: center;
  justify-content: center;
  display: flex;
}

/***********PRESENTATION***********/

.presentation {
  background-color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.content-pres {
  background-color: #00000080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 98dvw;
  height: 55dvh;
}

.img-pres {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.text-pres {
  margin-left: 10%;
  color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.text-pres h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.text-pres p {
  font-size: 1.5rem;
  margin: 10px 0;
  padding-left: 5%;
  padding-right: 20%;
}

.text-pres hr {
  border: 1px solid #E3FFF2;
  width: 75%;
  margin: 10px 0;
}

.text-btn-pres {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 25px;
}

.text-btn-pres button {
  background-color: #E3FFF2;
  color: #00000080;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.text-btn-pres button:hover {
  background-color: #7C9DDD;
  color: #E3FFF2;
}

.text-btn-pres a {
  margin-right: 15%;
}

.content-pres img {
  height: 90%;
  width: auto;
  border-radius: 5%;
}

/***********outils***********/

.outils {
  background-color: #E3FFF2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 180dvh;
  width: 100dvw;
}

.outils-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000080;
  width: 98dvw;
  height: 150dvh;
  padding: 2%;
}

.outils-title {
  height: 5%;
}

.outils-title h1 {
  color: #E3FFF2;
  font-size: 2rem;
  margin: 10px 0;
}

.outils-title hr {
  border: 1px solid #E3FFF2;
  width: 55%;
  margin-left: 5%;
  margin: 10px 0;
}

.outils-zone {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: space-between;
}

.zone {
  height: 48%;
  background-color: #E3FFF2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.zone:nth-child(1),
.zone:nth-child(2) {
  width: 49%;
}

.zone:nth-child(3) {
  width: 100%;
}

.zone h2 {
  color: #00000080;
  font-size: 1.5rem;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 18px;
  margin-bottom: 8px;
}

.zone-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 14px;
  color: #00000080;
  font-size: large;
  text-align: center;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  color: #00000080;
  text-align: center;
  flex: 1 1 calc(12.5% - 30px);
  font-size: medium;
  padding: 10px;
  margin: 5px;
}

/***********experience***********/
.experiences {
  background-color: #E3FFF2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300dvh;
  width: 100dvw;
}

.exp-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000080;
  width: 98dvw;
  height: 270dvh;
  padding: 2%;
}

.exp-title {
  height: 5%;
}

.exp-title h1 {
  color: #E3FFF2;
  font-size: 2rem;
  margin: 10px 0;
}

.exp-title hr {
  border: 1px solid #E3FFF2;
  width: 55%;
  margin-left: 5%;
  margin: 10px 0;
}

.exp-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.exp-item {
  height: 68dvh;
  background-color: #E3FFF2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  margin-bottom: 2%;
  padding: 20px;
}

.exp-item-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #7C9DDD;
  color: #E3FFF2;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 10%;
}

.exp-item-button:hover {
  background-color: #E3FFF2;
  color: #7C9DDD;
}

.exp-item-title {
  color: #00000080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.exp-item-title div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exp-item-title h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.exp-item-title p {
  font-size: 1.2rem;
}

.exp-item-title img {
  height: 100px;
  width: auto;
  margin-left: 10px;
}

.exp-item-content img {
  height: 420px;
  width: auto;
  border-radius: 12px;
}

.exp-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.exp-item-content-text {
  color: #00000090;
  font-size: 1.2rem;
  padding: 64px;
}

.exp-item-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.exp-item-content-unfinished {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: large;
}

.exp-item-content-unfinished p {
  color: #00000090;
  width: 50%;
}


/***********FLECHE***********/

.fleche {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1000;
}

.fleche svg {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fleche:hover svg {
  transform: scale(1.1);
  opacity: 0.9;
}

.fleche a {
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

.fleche a.transition-out {
  opacity: 0;
  transform: scale(0.9);
}

.fleche a.transition-in {
  opacity: 1;
  transform: scale(1);
}

/***********SCROLLBAR***********/

::-webkit-scrollbar {
  width: 15px;
  background: #E3FFF2;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #BC97DD;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #BF77FF;
}

/***********RESPONSIVE***********/


/***********PROJETS***********/
/* Carousel styles */
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 900px;
  max-height: 550px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

#moveLeft {
  left: 0;
}

#moveRight {
  right: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  fill: #5d5d5d;
}

.carousel-items {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
  border-radius: 25px;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 2;
  right: 0;
  margin: auto;
  padding: 0 40px;
  width: 50%;
}

.carousel-item__image {
  width: 50%;
  height: 100%;
  order: 1;
  align-self: flex-start;
  flex-basis: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(0);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
  border-radius: 25px;
}

.carousel-item__image {
  border-radius: 25px;
}

.content-proj {
  background-color: #00000080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 98dvw;
  height: 65dvh;
}

.content-proj img {
  height: 90%;
  width: auto;
  border-radius: 5%;
}


.project {
  background-color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.content-to-carousel {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-to-carousel h1 {
  color: #E3FFF2;
  font-size: 2rem;
  margin: 10px 0;
}

.content-to-carousel hr {
  border: 1px solid #E3FFF2;
  width: 55%;
  margin-left: 5%;
  margin: 10px 0;
}

.content-to-carousel button {
  background-color: #E3FFF2;
  color: #00000080;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  height: 25px;
}

.content-to-carousel button:hover {
  background-color: #7C9DDD;
  color: #E3FFF2;
}

.proj-bloc {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-item__text {
  margin-left: 10%;
  color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.carousel-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.carousel-item__container h1 {
  color: #BF77FF;
  font-size: 2rem;
  margin: 10px 0;
}

.carousel-item__container p {
  font-size: 1rem;
  margin: 10px 0;
}

.carousel-item__container a {
  margin-right: 15%;
}

/* Skills section styles */
.skills {
  padding: 50px 0;
  background-color: #E3FFF2;
  height: 80dvh;
  width: 100dvw;
}

.content-skills {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.skill-item {
  flex: 1 1 calc(33.333% - 40px);
  background-color: #00000080;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 20%;
  color: #E3FFF2;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-item p {
  margin: 0;
  font-size: 1.2rem;
  color: #E3FFF2;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Highlighted skill styles */
.skill-item.highlight {
  background-color: #7C9DDD;
  color: #E3FFF2;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contact section styles */
.contact {
  background-color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.content-contact {
  background-color: #00000080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-contact h1 {
  color: #E3FFF2;
  font-size: 2rem;
  margin: 10px 0;
}

.content-contact hr {
  border: 1px solid #E3FFF2;
  width: 55%;
  margin: 10px 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #E3FFF2;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}