body {
  font-family: 'Magra', sans-serif;
  color: #000000;
  overflow-x: hidden;
  margin: 0;
}

/***********HEADER***********/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 20px;
  background-color: #E3FFF2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap : 20px;
  height: 5dvh;
}

header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .logo img {
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: #7C9DDD;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

header.scrolled {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled a {
  color: #BC97DD;
}

/***********FOOTER***********/

footer {
  background-color: #FFFFFF;
  text-align: center;
  width: 100dvw;
  height: 10dvh;
  border-width: 1px;
  border-style: dashed none none;
  border-color: #000000;
}


/***********MAIN***********/

section {
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.presentation {
  background-color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-pres {
  background-color: #A6BAB1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 98dvw;
  height: 55dvh;
}

.img-pres {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.text-pres {
  margin-left: 10%;
  color: #E3FFF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.text-pres h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.text-pres p {
  font-size: 1.5rem;
  margin: 10px 0;
  padding-left: 5%;
  padding-right: 20%;
}

.text-pres hr {
  border: 1px solid #E3FFF2;
  width: 75%;
  margin: 10px 0;
}

.content-pres img {
  height: 90%;
  width: auto;
  border-radius: 5%;
}

/***********FLECHE***********/

.fleche {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1000;
}

.fleche svg {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fleche:hover svg {
  transform: scale(1.1);
  opacity: 0.9;
}

.fleche a {
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

.fleche a.transition-out {
  opacity: 0;
  transform: scale(0.9);
}

.fleche a.transition-in {
  opacity: 1;
  transform: scale(1);
}
